table{
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
    width: 100%;
}
tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
table.calendarMain td {
    border: 1px solid #99BBE8;
    font-size: 12px;
}
tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
a{
    text-decoration:none; color:#000000;
}
